/*fonts
font-family: 'Familjen Grotesk';
font-family: 'Tourney';
*/

.skills-div {
    color: white;
    padding: 3% 9%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.skill-type {
    font-family: 'Tourney';
    font-size: 2rem;
    margin: 0;
    padding-bottom: 2%;
    min-width: 250px;
    max-width: 250px;
    border-bottom: 3px solid white;
}


.skill-content {
    font-family: 'Familjen Grotesk';
    font-size: 1.2rem;
    margin: 0.6rem;
    margin-bottom: 1.4rem;
}

@media only screen and (max-width: 880px) {
    .skill-type {
        font-size: 1.4rem;
    }
    .skill-content {
    font-size: 1rem;
    margin: 0.3rem;
    margin-bottom: 1rem;
    }
}