.contact-div {
    color: white;
}

.link-title {
    font-family: 'Tourney';
    max-width: 180px;
    border-bottom: 2px solid white;
}

.contact-item {
    padding: 0px 20px;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Familjen Grotesk';
    color: #0091ad;
    text-decoration: none;
}

.link:visited {
    color: #0091ad;
    text-decoration: none;
}

.contact-icon {
    padding: 0.4rem;
    font-size: 8rem;
    color: white;
}