.pr-grid-right {
    background-color: black;
    min-height: 627px;
    max-height: 627px;
}

.pr-grid-left {
    min-height: 627px;
    max-height: 627px;
}

.pr-left-panel {
    padding: 0;
    border: none;
    margin: 0;
}

.pr-right-panel {
    padding: 0;
    border: none;
    margin: 0;
}
