/*fonts
font-family: 'Familjen Grotesk';
font-family: 'Tourney';
*/

.img-list-div {
    display: flex;
    justify-content: center;
    font-family: 'Familjen Grotesk';
}

.icon-link {
    color: white;
}
.icon-link:hover {
    color: #0091ad;
}
.icon-link:visited {
    color: white;
}



@media only screen and (max-width: 880px) {
    .img-list-div {
        max-height: 500px;
    }
}